In [3]:
pdf_path = r'D:\Compass_UDAS\_Att9181142.pdf'

In [4]:
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf' # Change this to the path of your PDF file
    extracted_text = extract_text_from_pdf(pdf_path)
    for page_num, text in enumerate(extracted_text, start=1):
        print(f"Page {page_num}:")
        print(text.strip())
        print("\n---\n")

Page 1:
Contract Monthly Pay Statement
Sarfraz Ghauri
Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AACONTRACT
QRV   3954630001
SARFRAZ GHAURI
If you have any queries please call the NHS
Dental Services Helpdesk on 0300 330 1348 or
email nhsbsa.dentalservices@nhsbsa.nhs.uk
105930
1

---

Page 2:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630001
Statement Reference  2425/01  SARFRAZ GHAURI

Date  01/05/24 VAT No. 654434729
PAY STATEMENT
Non Contributory Items Payments Deductions
Total Contract Value £365,362.27
ZZ Mandatory Services - pre April 2017 £365,362.27
Monthly Pay £30,446.85
ZZ Mandatory Services - pre April 2017 £30,446.85
Non-Superannuable Deductions
Statutory Levy England £60.88
Contract £32.38
440914 S CHANDNANI £0.70
887048 I HAMDY ABD ELRAZEK £3.33
105667 KRISHNA MURTHY GOWDA £17.52
107389 ZM MIRZA £0.35
111766 Ja Malik £0.46
943436 L NAJJAR £5.42
117068 SINGH £0.46
115616 NZ ZIA £0.26
Performers' Net Pensionable Earnings £1,221.80
440914 S CHANDNANI £152.69
887048 I HAMDY ABD ELRAZEK £731.66
116865 HUSSAIN £0.15
107389 ZM MIRZA £76.92
111766 Ja Malik £101.75
117068 SINGH £101.75
115616 NZ ZIA £56.88
Performers' Superannuation Contribution £81.98
440914 S CHANDNANI @ 12.50% £19.09
887048 I HAMDY ABD ELRAZEK @ 5.20% £38.05
116865 HUSSAIN @ 5.20% £0.01
107389 ZM MIRZA @ 5.20% £4.00
111766 Ja Malik @ 9.80% £9.97
117068 SINGH @ 5.20% £5.29
115616 NZ ZIA @ 9.80% £5.57
Patients' Charges £15,335.40
887048 I HAMDY ABD ELRAZEK £787.50
105667 KRISHNA MURTHY GOWDA £8,234.40
111766 Ja Malik £2,004.20
943436 L NAJJAR £3,661.40
117068 SINGH £647.90
Remissions £8,900.10
887048 I HAMDY ABD ELRAZEK £530.40
105667 KRISHNA MURTHY GOWDA £3,718.50
111766 Ja Malik £1,088.60
943436 L NAJJAR £3,164.10
117068 SINGH £398.50
Exemptions
887048 I HAMDY ABD ELRAZEK £53.60
105667 KRISHNA MURTHY GOWDA £4,803.10
111766 Ja Malik £721.10
943436 L NAJJAR £1,519.10
117068 SINGH £151.90
Employer's Contribution (for information) £175.69
Performer   440914 S CHANDNANI @ 14.38% £21.96

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
2

---

Page 3:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630001
Statement Reference  2425/01  SARFRAZ GHAURI

Date  01/05/24 VAT No. 654434729
PAY STATEMENT
Non Contributory Items Payments Deductions
Performer   887048 I HAMDY ABD ELRAZEK @ 14.38% £105.21
Performer   116865 HUSSAIN @ 14.38% £0.02
Performer   107389 ZM MIRZA @ 14.38% £11.06
Performer   111766 Ja Malik @ 14.38% £14.63
Performer   117068 SINGH @ 14.38% £14.63
Performer   115616 NZ ZIA @ 14.38% £8.18
Performers' Net Pensionable Earnings Equivalent (for information) £5,035.20
105667 KRISHNA MURTHY GOWDA £3,846.15
943436 L NAJJAR £1,189.05
SUB TOTALS £39,346.95 £15,478.26
TOTAL NET PAY £23,868.69

OTHER FINANCIAL ACTIVITY DURING THE PERIOD
Description Receipts Payments Deductions
Note that receipts will not appear above until the payment has been cleared

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
3

---

Page 4:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630001
Statement Reference  2425/01  SARFRAZ GHAURI

Date  01/05/24 VAT No. 654434729
ACTIVITY STATEMENT
Activity for April (21/03/2024 - 23/04/2024)
Contracted Units of Dental Activity 2024/25 11,256.00
Contracted Units of Dental Activity 2023/24 11,256.00
Units of Dental Activity for this Month
Current Financial Year 2024/25 570.00
Last Financial Year 2023/24 434.40
Other Financial Years 0.00
New Patient Premium UDA for this Month
Current Financial Year 2024/25 67.22
Last Financial Year 2023/24 32.78
Other Financial Years 0.00
Cumulative Units for Dental Activity
Current Financial Year 2024/25 637.22
Last Financial Year 2023/24 12,008.84
Units of Dental Activity per Clinician
887048 I HAMDY ABD ELRAZEK
Current Financial Year 2024/25 27.24
Last Financial Year 2023/24 9.32
Other Financial Years 0.00
105667 KRISHNA MURTHY GOWDA
Current Financial Year 2024/25 412.34
Last Financial Year 2023/24 242.72
Other Financial Years 0.00
111766 Ja Malik
Current Financial Year 2024/25 69.28
Last Financial Year 2023/24 72.96
Other Financial Years 0.00
943436 L NAJJAR
Current Financial Year 2024/25 98.96
Last Financial Year 2023/24 133.18
Other Financial Years 0.00
117068 SINGH
Current Financial Year 2024/25 29.40
Last Financial Year 2023/24 9.00
Other Financial Years 0.00

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
4

---

Page 5:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630001
Statement Reference  2425/01  SARFRAZ GHAURI

Date  01/05/24 VAT No. 654434729
PROVIDER SUMMARY (CURRENT FINANCIAL YEAR)
UNITS OF DENTAL ACTIVITY INFORMATION (ALL CLINICIANS)
Band Forms Weighting No of Units
1 Child 41 1.00 41.00
1 Adult 44 1.00 44.00
2 (pre 25/11/22) Child 0 0.00 0.00
2 (pre 25/11/22) Adult 0 0.00 0.00
2(a) Child 24 3.00 72.00
2(a) Adult 29 3.00 87.00
2(b) Child 10 5.00 50.00
2(b) Adult 19 5.00 95.00
2(c) Child 0 0.00 0.00
2(c) Adult 1 7.00 7.00
3 Child 0 0.00 0.00
3 Adult 11 12.00 132.00
1 * Child 7 1.20 8.40 * = Urgent Treatment
1 * Adult 28 1.20 33.60
Advice Only 0 0.00 0.00
Triage 0 0.00 0.00
Reg11 Child 0 0.00 0.00
Reg11 Adult 0 0.00 0.00
Prescriptions Issued 0 0.00 0.00 Dom. Services 0
Denture Repairs 0 0.00 0.00 Sedation Services 0
Bridge Repairs 0 0.00 0.00 Further Treatment 1
Removal of Sutures 0 0.00 0.00 Incomplete Trmt 4
Arrest of Bleeding 0 0.00 0.00 Guaranteed Trmt 0
Late Submitted Forms 0
No of Deletions 0
General Units Total this Month 570.00
New Patient Premium Units this Month 67.22
Deletion Units 0.00
Net General Units 637.22
Orthodontic Treatment
Case Assessment Only 0 0.00 0.00 Ortho Abandoned 0
Assess and Accept 0 0.00 0.00 Ortho Discontinued 0
Appliance Fitted-Child<10 0 0.00 0.00 Ortho Completed 0
Appliance Fitted-Child>9 0 0.00 0.00
Appliance Fitted-Adult 0 0.00 0.00
Repairs to Appliances 0 0.00 0.00
No of Deletions 0 Ortho Reg 11 0
Ortho Units Total this Month 0.00
Deletion Units 0.00
Net Ortho Units 0.00
PATIENTS CHARGE TOTALS (ALL CLINICIANS)
Total Patient Charges £7,612.90
Remission Amount Total £3,904.90 Remission Cases 54
Exemption Amount Total (£5,050.20) Exemption Cases 90
Total to be deducted from contract value £3,708.00
5

---

Page 6:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630001
Statement Reference  2425/01  SARFRAZ GHAURI

Date  01/05/24 VAT No. 654434729
PROVIDER SUMMARY (PREVIOUS FINANCIAL YEAR)
UNITS OF DENTAL ACTIVITY INFORMATION (ALL CLINICIANS)
Band Forms Weighting No of Units
1 Child 20 1.00 20.00
1 Adult 19 1.00 19.00
2 (pre 25/11/22) Child 0 0.00 0.00
2 (pre 25/11/22) Adult 0 0.00 0.00
2(a) Child 10 3.00 30.00
2(a) Adult 25 3.00 75.00
2(b) Child 7 5.00 35.00
2(b) Adult 6 5.00 30.00
2(c) Child 0 0.00 0.00
2(c) Adult 1 7.00 7.00
3 Child 1 12.00 12.00
3 Adult 15 12.00 180.00
1 * Child 4 1.20 4.80 * = Urgent Treatment
1 * Adult 18 1.20 21.60
Advice Only 0 0.00 0.00
Triage 0 0.00 0.00
Reg11 Child 0 0.00 0.00
Reg11 Adult 0 0.00 0.00
Prescriptions Issued 0 0.00 0.00 Dom. Services 0
Denture Repairs 0 0.00 0.00 Sedation Services 0
Bridge Repairs 0 0.00 0.00 Further Treatment 1
Removal of Sutures 0 0.00 0.00 Incomplete Trmt 4
Arrest of Bleeding 0 0.00 0.00 Guaranteed Trmt 0
Late Submitted Forms 1
No of Deletions 0
General Units Total this Month 434.40 (excluding 1.00 submitted late)
New Patient Premium Units this Month 32.78
Deletion Units 0.00
Net General Units 467.18
Orthodontic Treatment
Case Assessment Only 0 0.00 0.00 Ortho Abandoned 0
Assess and Accept 0 0.00 0.00 Ortho Discontinued 0
Appliance Fitted-Child<10 0 0.00 0.00 Ortho Completed 0
Appliance Fitted-Child>9 0 0.00 0.00
Appliance Fitted-Adult 0 0.00 0.00
Repairs to Appliances 0 0.00 0.00
No of Deletions 0 Ortho Reg 11 0
Ortho Units Total this Month 0.00
Deletion Units 0.00
Net Ortho Units 0.00
PATIENTS CHARGE TOTALS (ALL CLINICIANS)
Total Patient Charges £7,722.50
Remission Amount Total £4,995.20 Remission Cases 39
Exemption Amount Total (£2,198.60) Exemption Cases 43
Total to be deducted from contract value £2,727.30
6

---

# Date, VAT No and Statement Reference

# Statement Reference

In [5]:
import re
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_references = []
    for text in extracted_text:
        statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
        if statement_reference_match:
            statement_reference = statement_reference_match.group(1)
            statement_references.append(statement_reference)
    return statement_references

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf'  # Change this to the path of your PDF file
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_references = extract_statement_references_from_text(extracted_text)
    
    print("Extracted Statement References:")
    for statement_reference in statement_references:
        print(statement_reference)

Extracted Statement References:
2425/01
2425/01
2425/01
2425/01
2425/01

In [70]:
import re
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_reference = None  # Initialize statement reference variable
    for text in extracted_text:
        if statement_reference is None:  # Check if statement reference is not assigned yet
            statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
            if statement_reference_match:
                statement_reference = statement_reference_match.group(1)
                break  # Break loop after finding the first statement reference
    return statement_reference

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_reference = extract_statement_references_from_text(extracted_text)
    
    if statement_reference:
        print("Extracted Statement Reference:", statement_reference)
    else:
        print("No Statement Reference found in the PDF.")

Extracted Statement Reference: 2324/06

In [71]:
statement_reference

'2324/06'

# VAT Number

In [6]:
import re
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_vat_numbers_from_text(extracted_text):
    vat_numbers = set()  # Using a set to store unique VAT numbers
    for text in extracted_text:
        vat_number_matches = re.findall(r'VAT\s*No\.\s*(\d+)', text)
        vat_numbers.update(vat_number_matches)
    return vat_numbers

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    vat_numbers = extract_vat_numbers_from_text(extracted_text)
    
    print("Extracted VAT Numbers:")
    for vat_number in vat_numbers:
        print(vat_number)

Extracted VAT Numbers:
654434729

# Contract Monthly Pay Statement

In [7]:
# code for the complete Contract Monthly Pay Statement text on this page
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
            # Check if the text "Contract Monthly Pay Statement" is in the extracted text
            if "Contract Monthly Pay Statement" in text:
                break  # Stop extracting text from further pages
    return text_per_page

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_text = False  # Flag to check if the desired text is found
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_text:
            contract_monthly_pay_statement_text += text.strip() + "\n---\n"  # Append the text to the output
        elif "Contract Monthly Pay Statement" in text:
            found_text = True  # Set the flag to True when the desired text is found
            contract_monthly_pay_statement_text += text.strip() + "\n---\n"  # Append the text to the output
    print(contract_monthly_pay_statement_text)

Contract Monthly Pay Statement
Sarfraz Ghauri
Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AACONTRACT
QRV   3954630001
SARFRAZ GHAURI
If you have any queries please call the NHS
Dental Services Helpdesk on 0300 330 1348 or
email nhsbsa.dentalservices@nhsbsa.nhs.uk
105930
1
---

In [8]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract += text.strip() + "\n"
        elif "CONTRACT" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("CONTRACT") + len("CONTRACT")
            end_index = text.find("If ")
            # Append the text between these indices
            contract += text[start_index:end_index].strip() + "\n"
    print("CONTRACT: ")
    print(contract)

CONTRACT:
QRV   3954630001
SARFRAZ GHAURI

# Address

In [9]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    print(contract_monthly_pay_statement_text)

Sarfraz Ghauri
Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

In [10]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Splitting the text into Contract Name and Address
    parts = contract_monthly_pay_statement_text.split('\n', 1)
    Contract_Name = parts[0]
    Address = parts[1] if len(parts) > 1 else ""
    
    print("Contract Name:", Contract_Name)
    print("Address:", Address)

Contract Name: Sarfraz Ghauri
Address: Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

# Contract_Name

In [11]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Extracting Contract Name
    Contract_Name = contract_monthly_pay_statement_text.split('\n', 1)[0]
    
    print("Contract Name:", Contract_Name)

Contract Name: Sarfraz Ghauri

# Address

In [12]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Extracting Address
    parts = contract_monthly_pay_statement_text.split('\n', 1)
    Address = parts[1] if len(parts) > 1 else ""
    
    print("Address:", Address)

Address: Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

# Contract

In [13]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract += text.strip() + "\n"
        elif "CONTRACT" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("CONTRACT") + len("CONTRACT")
            end_index = text.find("If ")
            # Append the text between these indices
            contract += text[start_index:end_index].strip() + "\n"
    print("CONTRACT: ")
    print(contract)

CONTRACT:
QRV   3954630001
SARFRAZ GHAURI

In [14]:
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID and the second part is Contract_Name
Contract_ID = contract_lines[0].strip()
Contract_Name = contract_lines[1].strip()
# Printing the results
print("Contract_ID:", Contract_ID)
print("Contract_Name:", Contract_Name)

Contract_ID: QRV   3954630001
Contract_Name: SARFRAZ GHAURI

In [15]:
import pandas as pd
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID and the second part is Contract_Name
Contract_ID = contract_lines[0].strip()
Contract_Name = contract_lines[1].strip()
df = pd.DataFrame({'Contract_ID': [Contract_ID], 'Contract_Name': [Contract_Name], 'Address': [Address]})
print(df)

        Contract_ID   Contract_Name  \
0  QRV   3954630001  SARFRAZ GHAURI

                                             Address
0  Ghauris Dental Practice\n113 Vicarage Farm Roa...

In [82]:
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID
Contract_ID = contract_lines[0].strip()

# Printing the Contract_ID
print("Contract_ID:", Contract_ID)

Contract_ID: QRV   3954630007

In [16]:
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the second part is Contract_Name
Contract_Name = contract_lines[1].strip()

# Printing the Contract_Name
print("Contract_Name:", Contract_Name)

Contract_Name: SARFRAZ GHAURI

# Contract_Details

In [17]:
import pandas as pd
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID and the second part is Contract_Name
Contract_ID = contract_lines[0].strip()
Contract_Name = contract_lines[1].strip()
df1 = pd.DataFrame({'Contract_ID': [Contract_ID], 'Contract_Name': [Contract_Name], 'Address': [Address],'Vat_No':[vat_number]})
df1

,Contract_ID,Contract_Name,Address,Vat_No
0,QRV 3954630001,SARFRAZ GHAURI,Ghauris Dental Practice\n113 Vicarage Farm Roa...,654434729

In [85]:
df1

,Contract_ID,Contract_Name,Address,Vat_No
0,QRV 3954630007,ASHIQ GHAURI AND SARFRAZ GHAURI T/A\nGHAURI DE...,Ghauris Dental Practice\n113 Vicarage Farm Roa...,654434729

In [18]:
db_file = 'my_database.db'

conn = sqlite3.connect(db_file)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

print("Connected to SQLite database successfully!")

NameError: name 'sqlite3' is not defined

In [19]:
import pandas as pd
import sqlite3

# Assuming you have a DataFrame named df1

# Connect to SQLite database
conn = sqlite3.connect('my_database.db')

# Assuming your table name is 'your_table_name'
table_name = 'Contracts_Details'

# Insert DataFrame records into SQLite database
df1.to_sql(table_name, conn, if_exists='append', index=False)

# Commit changes and close connection
conn.commit()
conn.close()

# Performers' Superannuation Contribution

In [91]:
import re
import pandas as pd

def extract_performers_superannuation_table(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Performers\' Superannuation Contribution'
    end_pattern = r'Patients\' Charges'

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()].strip()
        return table_text
    else:
        return None

def format_table(table_text, contract):
    # Extracting rows using regular expression
    #rows = re.findall(r'(\d+)\s+([A-Z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)
    rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)


    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Performer_ID": row[0],
            "Name": row[1],
            "Percentage": row[2],
            "Amount (£)": row[3],
            "Contract_ID": contract  # Add Contract_ID to each row
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf' # Change this to the path of your PDF file
    #contract_file_path = 'BSA Statement 01 Highlighted.pdf'  # Path to the file containing contract information
    # Splitting the contract string into Contract_ID and Contract_Name
    contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

    # Assuming the first part is Contract_ID
    Contract_ID = contract_lines[0].strip()

    

    contract = Contract_ID

    extracted_text = extract_text_from_pdf(pdf_path)

    # Concatenate all the extracted text into a single string
    complete_pdf_text = "\n".join(extracted_text)

    # Extract the text of the Performers' Superannuation Contribution table
    performers_superannuation_table_text = extract_performers_superannuation_table(complete_pdf_text)

    # Print the extracted table text
    if performers_superannuation_table_text:
        print("Performers' Superannuation Contribution Table:")
        formatted_table = format_table(performers_superannuation_table_text, contract)
        # Convert the formatted table to DataFrame
        df2 = pd.DataFrame(formatted_table)
        print(df2)
    else:
        print("Performers' Superannuation Contribution Table not found in the PDF text.")

Performers' Superannuation Contribution Table:
   Performer_ID                  Name Percentage Amount (£)       Contract_ID
0        364207           AJ ABULHAB       11.60       4.75  QRV   3954630007
1        114847             Coughlan        7.70       4.75  QRV   3954630007
2        651133             S GHAURI        5.10       0.23  QRV   3954630007
3        887048  I HAMDY ABD ELRAZEK        5.10       2.33  QRV   3954630007
4        116865              HUSSAIN        9.80      17.93  QRV   3954630007
5        786616       AK JAISINGHANI        9.80       0.82  QRV   3954630007
6        453390             JS MALIK        5.10       4.29  QRV   3954630007
7        107389             ZM MIRZA        5.10       0.24  QRV   3954630007
8        476617            AD MISTRY        6.80       4.19  QRV   3954630007
9        111766             Ja Malik        9.80      41.29  QRV   3954630007
10       623504              JS UBHI        6.10       3.76  QRV   3954630007
11       115616               NZ ZIA        9.80      13.93  QRV   3954630007
12       786616       AK JAISINGHANI        9.00       0.75  QRV   3954630007

In [92]:
import re
import pandas as pd
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_references = []
    for text in extracted_text:
        statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
        if statement_reference_match:
            statement_reference = statement_reference_match.group(1)
            statement_references.append(statement_reference)
    return statement_references

def extract_performers_superannuation_table(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Performers\' Superannuation Contribution'
    end_pattern = r'Patients\' Charges'

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()].strip()
        return table_text
    else:
        return None

def format_table(table_text, contract, statement_reference):
    # Extracting rows using regular expression
    #rows = re.findall(r'(\d+)\s+([A-Z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)
    
    rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)
    

    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Contract_ID": contract,  # Add Contract_ID to each row
            "Statement_Reference": statement_reference,  # Add Statement_Reference to each row
            "Performer_ID": row[0],
            "Name": row[1],
            "Percentage": row[2],
            "Amount ": row[3]
            #"Contract_ID": contract,  # Add Contract_ID to each row
            #"Statement_Reference": statement_reference  # Add Statement_Reference to each row
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf'
    # Extract statement references from PDF
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_references = extract_statement_references_from_text(extracted_text)
    
    # Choose one statement reference for the sake of example (you might need to adjust this based on your actual data)
    statement_reference = statement_references[0] if statement_references else None

    # Extract the table text
    extracted_text = extract_text_from_pdf(pdf_path)
    complete_pdf_text = "\n".join(extracted_text)
    performers_superannuation_table_text = extract_performers_superannuation_table(complete_pdf_text)

    # Print the extracted table text
    if performers_superannuation_table_text:
        print("Performers' Superannuation Contribution Table:")
        formatted_table = format_table(performers_superannuation_table_text,contract , statement_reference)
        # Convert the formatted table to DataFrame
        df2 = pd.DataFrame(formatted_table)
        print(df2)
    else:
        print("Performers' Superannuation Contribution Table not found in the PDF text.")

Performers' Superannuation Contribution Table:
         Contract_ID Statement_Reference Performer_ID                  Name  \
0   QRV   3954630007             2324/06       364207           AJ ABULHAB
1   QRV   3954630007             2324/06       114847             Coughlan
2   QRV   3954630007             2324/06       651133             S GHAURI
3   QRV   3954630007             2324/06       887048  I HAMDY ABD ELRAZEK
4   QRV   3954630007             2324/06       116865              HUSSAIN
5   QRV   3954630007             2324/06       786616       AK JAISINGHANI
6   QRV   3954630007             2324/06       453390             JS MALIK
7   QRV   3954630007             2324/06       107389             ZM MIRZA
8   QRV   3954630007             2324/06       476617            AD MISTRY
9   QRV   3954630007             2324/06       111766             Ja Malik
10  QRV   3954630007             2324/06       623504              JS UBHI
11  QRV   3954630007             2324/06       115616               NZ ZIA
12  QRV   3954630007             2324/06       786616       AK JAISINGHANI

   Percentage Amount
0       11.60    4.75
1        7.70    4.75
2        5.10    0.23
3        5.10    2.33
4        9.80   17.93
5        9.80    0.82
6        5.10    4.29
7        5.10    0.24
8        6.80    4.19
9        9.80   41.29
10       6.10    3.76
11       9.80   13.93
12       9.00    0.75

In [89]:
df2

,Contract_ID,Statement_Reference,Performer_ID,Name,Percentage,Amount
0,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,364207,AJ ABULHAB,11.60,4.75
1,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,114847,Coughlan,7.70,4.75
2,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,651133,S GHAURI,5.10,0.23
3,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,887048,I HAMDY ABD ELRAZEK,5.10,2.33
4,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,116865,HUSSAIN,9.80,17.93
5,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,786616,AK JAISINGHANI,9.80,0.82
6,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,453390,JS MALIK,5.10,4.29
7,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,107389,ZM MIRZA,5.10,0.24
8,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,476617,AD MISTRY,6.80,4.19
9,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,111766,Ja Malik,9.80,41.29
10,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,623504,JS UBHI,6.10,3.76
11,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,115616,NZ ZIA,9.80,13.93
12,QRV 3954630007\nASHIQ GHAURI AND SARFRAZ GHA...,2324/06,786616,AK JAISINGHANI,9.00,0.75

In [24]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('compass.db')
c = conn.cursor()

# Create Superannuation table
c.execute('''CREATE TABLE Superannuation
             (ID INTEGER PRIMARY KEY AUTOINCREMENT,
              Contract_ID TEXT,
              Statement_Reference TEXT,
              Performer_ID TEXT,
              Name TEXT,
              Percentage TEXT,
              Amount TEXT )''')

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

In [25]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('compass.db')
c = conn.cursor()

# Drop the Superannuation table if it exists
c.execute('''DROP TABLE IF EXISTS Superannuation''')

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

In [26]:
import pandas as pd
import sqlite3

# Assuming you have a DataFrame named df1

# Connect to SQLite database
conn = sqlite3.connect('compass.db')

# Assuming your table name is 'your_table_name'
table_name = 'Superannuation Table'

# Insert DataFrame records into SQLite database
df2.to_sql(table_name, conn, if_exists='append', index=False)

# Commit changes and close connection
conn.commit()
conn.close()

C:\Users\Awan\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

# Non-Superannuable Deductions Statutory Levy

In [27]:
import re
import pandas as pd

def extract_performers_non_superannuable_deductions(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Non-Superannuable Deductions\s*Statutory Levy'
    end_pattern = r'(?:Performers\' Net Pensionable Earnings|$)'  # End pattern is either end of table or next section

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()]
        return table_text.strip()
    else:
        return None

def format_table(table_text):
    # Extracting rows using regular expression
    rows = re.findall(r'(\d+)\s+([A-Z\s]+)\s+£([\d.]+)', table_text)

    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Performer_ID": row[0],
            "Performer_Name": row[1],
            "Amount": row[2]
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)

    # Concatenate all the extracted text into a single string
    complete_pdf_text = "\n".join(extracted_text)

    # Extract the text of the Performers' Non-Superannuable Deductions Statutory Levy table
    performers_non_superannuation_table_text = extract_performers_non_superannuable_deductions(complete_pdf_text)

    # Print the extracted table text
    if performers_non_superannuation_table_text:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table:")
        print(performers_non_superannuation_table_text)

        # Format the table text
        formatted_table = format_table(performers_non_superannuation_table_text)

        # Convert the formatted table to DataFrame
        df_2 = pd.DataFrame(formatted_table)

        # Print DataFrame
        print(df_2)
    else:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.")

Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.

In [28]:
df_2

NameError: name 'df_2' is not defined

In [29]:
import re
import PyPDF2
import pandas as pd

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_references = []
    for text in extracted_text:
        statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
        if statement_reference_match:
            statement_reference = statement_reference_match.group(1)
            statement_references.append(statement_reference)
    return statement_references

def extract_contract_id(pdf_text):
    contract_id_match = re.search(r'Contract ID: (\w+)', pdf_text)
    if contract_id_match:
        return contract_id_match.group(1)
    else:
        return None

def extract_performers_non_superannuable_deductions(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Non-Superannuable Deductions\s*Statutory Levy'
    end_pattern = r'(?:Performers\' Net Pensionable Earnings|$)'  # End pattern is either end of table or next section

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()]
        return table_text.strip()
    else:
        return None

def format_table(table_text, contract_id, statement_reference):
    # Extracting rows using regular expression
    rows = re.findall(r'(\d+)\s+([A-Z\s]+)\s+£([\d.]+)', table_text)

    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Contract_ID": Contract_ID,
            "Statement_Reference": statement_reference,
            "Performer_ID": row[0],
            "Performer_Name": row[1],
            "Amount": row[2]
            
            
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    # Extract statement references from PDF
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_references = extract_statement_references_from_text(extracted_text)

    # Choose one statement reference for the sake of example (you might need to adjust this based on your actual data)
    statement_reference = statement_references[0] if statement_references else None

    # Extract contract ID from the PDF
    contract_id = extract_contract_id("\n".join(extracted_text))

    # Extract the table text
    #pdf_path = 'BSA Statement 01 Highlighted.pdf'  # Change this to the path of your PDF file
    #extracted_text = extract_text_from_pdf(pdf_path)
    complete_pdf_text = "\n".join(extracted_text)
    performers_non_superannuation_table_text = extract_performers_non_superannuable_deductions(complete_pdf_text)

    # Print the extracted table text
    if performers_non_superannuation_table_text:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table:")
        print(performers_non_superannuation_table_text)

        # Format the table text
        formatted_table = format_table(performers_non_superannuation_table_text, contract_id, statement_reference)

        # Convert the formatted table to DataFrame
        df_3 = pd.DataFrame(formatted_table)

        # Print DataFrame
        print(df_3)
    else:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.")

Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.

In [30]:
df_3

NameError: name 'df_3' is not defined

In [31]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('compass.db')
c = conn.cursor()

# Create Non-Superannuable Deductions Statutory Levy table
c.execute('''CREATE TABLE Non_Superannuable_Deductions_Statutory_Levy
             (ID INTEGER PRIMARY KEY AUTOINCREMENT,
              Contract_ID TEXT,
              Statement_Reference TEXT,
              Performer_ID TEXT,
              Performer_Name TEXT,
              Amount REAL)''')

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

In [32]:
import pandas as pd
import sqlite3

# Assuming you have a DataFrame named df1

# Connect to SQLite database
conn = sqlite3.connect('compass.db')

# Assuming your table name is 'your_table_name'
table_name = 'Non_Superannuable_Deductions_Statutory_Levy'

# Insert DataFrame records into SQLite database
df_3.to_sql(table_name, conn, if_exists='append', index=False)

# Commit changes and close connection
conn.commit()
conn.close()

NameError: name 'df_3' is not defined

# Units of Dental Activity per Performer

In [33]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('compass.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE Units_of_Dental_Activity_per_Performer
             (ID INTEGER PRIMARY KEY AUTOINCREMENT,
              Contract_ID TEXT,
              Statement_Reference TEXT,
              Performer_ID TEXT,
              Name TEXT,
              Current_Financial_Year TEXT,
              Current_Financial_Year_Amount REAL,
              Last_Financial_Year TEXT,
              Last_Financial_Year_Amount REAL,
              Other_Financial_Years TEXT,
              Other_Financial_Year_Amount REAL)''')

# Save (commit) the changes
conn.commit()

# Close the connection
conn.close()

In [34]:
import PyPDF2
import re

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_units_of_dental_activity(text_per_page):
    start_pattern = "Units of Dental Activity per Performer"
    end_pattern = "THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES"

    relevant_text = ""
    for page_text in text_per_page:
        start_index = page_text.find(start_pattern)
        if start_index != -1:
            end_index = page_text.find(end_pattern, start_index)
            if end_index != -1:
                relevant_text += page_text[start_index:end_index]
            else:
                relevant_text += page_text[start_index:]
    return relevant_text

if __name__ == "__main__":
    
    extracted_text = extract_text_from_pdf(pdf_path)
    relevant_text = extract_units_of_dental_activity(extracted_text)
    print(relevant_text.strip())

Units of Dental Activity per Performer
440914 S CHANDNANI
Current Financial Year 2023/24 178.40
Last Financial Year 2022/23 12.00
Other Financial Years 0.00
887048 I HAMDY ABD ELRAZEK
Current Financial Year 2023/24 45.40
Last Financial Year 2022/23 120.40
Other Financial Years 0.00
105667 KRISHNA MURTHY GOWDA
Current Financial Year 2023/24 43.00
Last Financial Year 2022/23 181.40
Other Financial Years 0.00
943436 L NAJJAR
Current Financial Year 2023/24 111.40
Last Financial Year 2022/23 221.40
Other Financial Years 0.00
604143 MT PAREKH
Current Financial Year 2023/24 0.00
Last Financial Year 2022/23 5.00
Other Financial Years 0.00

In [35]:
import pandas as pd
import PyPDF2
import re

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_units_of_dental_activity(text_per_page):
    start_pattern = "Units of Dental Activity per Performer"
    end_pattern = "THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES"

    relevant_text = ""
    for page_text in text_per_page:
        start_index = page_text.find(start_pattern)
        if start_index != -1:
            end_index = page_text.find(end_pattern, start_index)
            if end_index != -1:
                relevant_text += page_text[start_index:end_index]
            else:
                relevant_text += page_text[start_index:]
    return relevant_text

def parse_performers(text):
    performer_data = re.findall(r'\b(\d+)\s+([A-Za-z\s]+)\s+Current', text)
    performer_ids, performer_names = zip(*performer_data)
    return performer_ids, performer_names

def extract_current_financial_year_rows(text, pattern, year_col_name, amount_col_name):
    current_year_rows = []
    lines = text.strip().split('\n')
    for line in lines:
        match = re.search(pattern, line)
        if match:
            year = match.group(1) if match.group(1) else '0'  # If year is missing, consider it as '0'
            current_year_rows.append({year_col_name: year, amount_col_name: match.group(2)})
    return current_year_rows

if __name__ == "__main__":
   
    
    # Extract text from PDF
    extracted_text = extract_text_from_pdf(pdf_path)
    
    # Extract relevant dental activity units
    relevant_text = extract_units_of_dental_activity(extracted_text)
    
    # Parse performer data
    performer_ids, performer_names = parse_performers(relevant_text)
    
    # Create performer DataFrame
    df_performers = pd.DataFrame({'Contract_ID': Contract_ID,'Statement_Reference':statement_reference,'Performer_ID': performer_ids, 'Name': performer_names})
    
    # Extract financial year rows
    current_year_rows = extract_current_financial_year_rows(relevant_text, 
                                                            r'Current Financial Year (\d{4}/\d{2})\s+([\d.]+)',
                                                            'Current_Financial_Year', 
                                                            'Current_Financial_Year_Amount')
    
    last_year_rows = extract_current_financial_year_rows(relevant_text, 
                                                            r'Last Financial Year (\d{4}/\d{2})\s+([\d.]+)',
                                                            'Last_Financial_Year', 
                                                            'Last_Financial_Year_Amount')

    other_year_rows = extract_current_financial_year_rows(relevant_text, 
                                                            r'Other Financial Years(?: (\d{4}/\d{2}))?\s+([\d.]+)',
                                                            'Other_Financial_Years', 
                                                            'Other_Financial_Year_Amount')

    # Create financial year DataFrames
    df_current = pd.DataFrame(current_year_rows)
    df_last = pd.DataFrame(last_year_rows)
    df_other = pd.DataFrame(other_year_rows)
    
    # Concatenate financial year DataFrames
    df_financial_years = pd.concat([df_current, df_last, df_other], axis=1)
    
    # Print combined DataFrame
    combined_df = pd.concat([df_performers, df_financial_years], axis=1)
    df4 =combined_df

In [36]:
df4

,Contract_ID,Statement_Reference,Performer_ID,Name,Current_Financial_Year,Current_Financial_Year_Amount,Last_Financial_Year,Last_Financial_Year_Amount,Other_Financial_Years,Other_Financial_Year_Amount
0,QRV 3954630001,2324/01,440914,S CHANDNANI,2023/24,178.40,2022/23,12.00,0,0.00
1,QRV 3954630001,2324/01,887048,I HAMDY ABD ELRAZEK,2023/24,45.40,2022/23,120.40,0,0.00
2,QRV 3954630001,2324/01,105667,KRISHNA MURTHY GOWDA,2023/24,43.00,2022/23,181.40,0,0.00
3,QRV 3954630001,2324/01,943436,L NAJJAR,2023/24,111.40,2022/23,221.40,0,0.00
4,QRV 3954630001,2324/01,604143,MT PAREKH,2023/24,0.00,2022/23,5.00,0,0.00

In [37]:
import pandas as pd
import sqlite3

# Assuming you have a DataFrame named df1

# Connect to SQLite database
conn = sqlite3.connect('compass.db')

# Assuming your table name is 'your_table_name'
table_name = 'Units_of_Dental_Activity_per_Performer'

# Insert DataFrame records into SQLite database
df4.to_sql(table_name, conn, if_exists='append', index=False)

# Commit changes and close connection
conn.commit()
conn.close()