# Extracting Text From Pdf

In [2]:
#pdf_path = r'C:\Users\Awan\Desktop\New folder\Statement 23-24\Sch issued on 1st Nov 23 will pd 1st Dec 23\3954630008.pdf'
pdf_path = r'C:\Users\Awan\Downloads\_Att9289958.pdf'

In [3]:
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf' # Change this to the path of your PDF file
    extracted_text = extract_text_from_pdf(pdf_path)
    for page_num, text in enumerate(extracted_text, start=1):
        print(f"Page {page_num}:")
        print(text.strip())
        print("\n---\n")

Page 1:
Contract Monthly Pay Statement
Sarfraz Ghauri
Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AACONTRACT
QRV   3954630007
SARFRAZ GHAURI
If you have any queries please call the NHS
Dental Services Helpdesk on 0300 330 1348 or
email nhsbsa.dentalservices@nhsbsa.nhs.uk
105930
1

---

Page 2:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630007
Statement Reference  2425/03  SARFRAZ GHAURI

Date  01/07/24 VAT No. 654434729
PAY STATEMENT
Non Contributory Items Payments Deductions
Total Contract Value £105,163.34
ZZ Mandatory Services - pre April 2017 £105,163.34
Monthly Pay £8,763.61
ZZ Mandatory Services - pre April 2017 £8,763.61
Non-Superannuable Deductions
Statutory Levy England £17.53
Contract £4.02
364207 AJ ABULHAB £0.19
440914 S CHANDNANI £0.02
114847 Coughlan £0.28
651133 S GHAURI £0.02
887048 I HAMDY ABD ELRAZEK £0.21
116865 HUSSAIN £1.00
786616 AK JAISINGHANI £0.04
105667 KRISHNA MURTHY GOWDA £2.99
539112 AK MAINI £0.22
453390 JS MALIK £0.38
107389 ZM MIRZA £0.02
476617 AD MISTRY £0.28
111766 Ja Malik £1.92
943436 L NAJJAR £2.35
604143 MT PAREKH £1.44
114436 SAFI £0.74
106669 AS SINGH £0.02
117068 SINGH £0.46
623504 JS UBHI £0.28
115616 NZ ZIA £0.65
Performers' Net Pensionable Earnings £1,311.08
364207 AJ ABULHAB £40.98
440914 S CHANDNANI £4.81
114847 Coughlan £61.64
651133 S GHAURI £4.58
887048 I HAMDY ABD ELRAZEK £45.75
116865 HUSSAIN £219.51
786616 AK JAISINGHANI £8.33
539112 AK MAINI £47.84
453390 JS MALIK £84.26
107389 ZM MIRZA £4.81
476617 AD MISTRY £61.64
111766 Ja Malik £421.34
117068 SINGH £101.75
623504 JS UBHI £61.64
115616 NZ ZIA £142.20
Performers' Superannuation Contribution £100.97
364207 AJ ABULHAB @ 10.70% £4.38
440914 S CHANDNANI @ 12.50% £0.60
114847 Coughlan @ 6.50% £4.01
651133 S GHAURI @ 5.20% £0.23
887048 I HAMDY ABD ELRAZEK @ 5.20% £2.38
116865 HUSSAIN @ 5.20% £11.41

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
2

---

Page 3:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630007
Statement Reference  2425/03  SARFRAZ GHAURI

Date  01/07/24 VAT No. 654434729
PAY STATEMENT
Non Contributory Items Payments Deductions
786616 AK JAISINGHANI @ 9.80% £0.82
539112 AK MAINI @ 8.30% £3.97
453390 JS MALIK @ 5.20% £4.38
107389 ZM MIRZA @ 5.20% £0.25
476617 AD MISTRY @ 6.50% £4.01
111766 Ja Malik @ 9.80% £41.29
117068 SINGH @ 5.20% £5.29
623504 JS UBHI @ 6.50% £4.01
115616 NZ ZIA @ 9.80% £13.94
Performers' Added Benefit £0.75
786616 AK JAISINGHANI @ 9.00% £0.75
Patients' Charges £1,768.80
440914 S CHANDNANI £160.80
111766 Ja Malik £509.20
943436 L NAJJAR £107.20
604143 MT PAREKH £348.40
114436 SAFI £375.20
117068 SINGH £268.00
Remissions £830.80
440914 S CHANDNANI £80.40
111766 Ja Malik £294.80
943436 L NAJJAR £53.60
604143 MT PAREKH £214.40
114436 SAFI £134.00
117068 SINGH £53.60
Exemptions
440914 S CHANDNANI £26.80
111766 Ja Malik £26.80
943436 L NAJJAR £0.00
604143 MT PAREKH £53.60
114436 SAFI £0.00
117068 SINGH £0.00
Employer's Contribution (for information) £188.54
Performer   364207 AJ ABULHAB @ 14.38% £5.89
Performer   440914 S CHANDNANI @ 14.38% £0.70
Performer   114847 Coughlan @ 14.38% £8.86
Performer   651133 S GHAURI @ 14.38% £0.66
Performer   887048 I HAMDY ABD ELRAZEK @ 14.38% £6.58
Performer   116865 HUSSAIN @ 14.38% £31.57
Performer   786616 AK JAISINGHANI @ 14.38% £1.19
Performer   539112 AK MAINI @ 14.38% £6.88
Performer   453390 JS MALIK @ 14.38% £12.12
Performer   107389 ZM MIRZA @ 14.38% £0.70
Performer   476617 AD MISTRY @ 14.38% £8.86
Performer   111766 Ja Malik @ 14.38% £60.59
Performer   117068 SINGH @ 14.38% £14.63
Performer   623504 JS UBHI @ 14.38% £8.86
Performer   115616 NZ ZIA @ 14.38% £20.45
Performers' Net Pensionable Earnings Equivalent (for information) £1,654.28
105667 KRISHNA MURTHY GOWDA £655.87

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
3

---

Page 4:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630007
Statement Reference  2425/03  SARFRAZ GHAURI

Date  01/07/24 VAT No. 654434729
PAY STATEMENT
Non Contributory Items Payments Deductions
943436 L NAJJAR £515.49
604143 MT PAREKH £316.66
114436 SAFI £161.45
106669 AS SINGH £4.81
SUB TOTALS £9,594.41 £1,888.05
TOTAL NET PAY £7,706.36

OTHER FINANCIAL ACTIVITY DURING THE PERIOD
Description Receipts Payments Deductions
Note that receipts will not appear above until the payment has been cleared

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
4

---

Page 5:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630007
Statement Reference  2425/03  SARFRAZ GHAURI

Date  01/07/24 VAT No. 654434729
ACTIVITY STATEMENT
Activity for June (22/05/2024 - 18/06/2024)
Contracted Units of Dental Activity 2024/25 2,200.00
Contracted Units of Dental Activity 2023/24 2,200.00
Units of Dental Activity for this Month
Current Financial Year 2024/25 83.40
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
New Patient Premium UDA for this Month
Current Financial Year 2024/25 0.00
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
Cumulative Units for Dental Activity
Current Financial Year 2024/25 205.40
Last Financial Year 2023/24 1,263.40
Units of Dental Activity per Clinician
440914 S CHANDNANI
Current Financial Year 2024/25 8.20
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
111766 Ja Malik
Current Financial Year 2024/25 23.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
943436 L NAJJAR
Current Financial Year 2024/25 4.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
604143 MT PAREKH
Current Financial Year 2024/25 18.00
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
114436 SAFI
Current Financial Year 2024/25 16.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
117068 SINGH
Current Financial Year 2024/25 11.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
5

---

Page 6:
NATIONAL HEALTH SERVICE
 Contract QRV   3954630007
Statement Reference  2425/03  SARFRAZ GHAURI

Date  01/07/24 VAT No. 654434729
PROVIDER SUMMARY (CURRENT FINANCIAL YEAR)
UNITS OF DENTAL ACTIVITY INFORMATION (ALL CLINICIANS)
Band Forms Weighting No of Units
1 Child 0 0.00 0.00
1 Adult 3 1.00 3.00
2 (pre 25/11/22) Child 0 0.00 0.00
2 (pre 25/11/22) Adult 0 0.00 0.00
2(a) Child 0 0.00 0.00
2(a) Adult 0 0.00 0.00
2(b) Child 0 0.00 0.00
2(b) Adult 0 0.00 0.00
2(c) Child 0 0.00 0.00
2(c) Adult 0 0.00 0.00
3 Child 0 0.00 0.00
3 Adult 0 0.00 0.00
1 * Child 4 1.20 4.80 * = Urgent Treatment
1 * Adult 63 1.20 75.60
Advice Only 0 0.00 0.00
Triage 0 0.00 0.00
Reg11 Child 0 0.00 0.00
Reg11 Adult 0 0.00 0.00
Prescriptions Issued 0 0.00 0.00 Dom. Services 0
Denture Repairs 0 0.00 0.00 Sedation Services 0
Bridge Repairs 0 0.00 0.00 Further Treatment 0
Removal of Sutures 0 0.00 0.00 Incomplete Trmt 0
Arrest of Bleeding 0 0.00 0.00 Guaranteed Trmt 0
Late Submitted Forms 0
No of Deletions 0
General Units Total this Month 83.40
New Patient Premium Units this Month 0.00
Deletion Units 0.00
Net General Units 83.40
Orthodontic Treatment
Case Assessment Only 0 0.00 0.00 Ortho Abandoned 0
Assess and Accept 0 0.00 0.00 Ortho Discontinued 0
Appliance Fitted-Child<10 0 0.00 0.00 Ortho Completed 0
Appliance Fitted-Child>9 0 0.00 0.00
Appliance Fitted-Adult 0 0.00 0.00
Repairs to Appliances 0 0.00 0.00
No of Deletions 0 Ortho Reg 11 0
Ortho Units Total this Month 0.00
Deletion Units 0.00
Net Ortho Units 0.00
PATIENTS CHARGE TOTALS (ALL CLINICIANS)
Total Patient Charges £1,768.80
Remission Amount Total £830.80 Remission Cases 31
Exemption Amount Total (£107.20) Exemption Cases 4
Total to be deducted from contract value £938.00
6

---

# Date, VAT No and Statement Reference

# Statement Reference

In [4]:
import re
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_references = []
    for text in extracted_text:
        statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
        if statement_reference_match:
            statement_reference = statement_reference_match.group(1)
            statement_references.append(statement_reference)
    return statement_references

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf'  # Change this to the path of your PDF file
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_references = extract_statement_references_from_text(extracted_text)
    
    print("Extracted Statement References:")
    for statement_reference in statement_references:
        print(statement_reference)

Extracted Statement References:
2425/03
2425/03
2425/03
2425/03
2425/03

In [5]:
import re
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_reference = None  # Initialize statement reference variable
    for text in extracted_text:
        if statement_reference is None:  # Check if statement reference is not assigned yet
            statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
            if statement_reference_match:
                statement_reference = statement_reference_match.group(1)
                break  # Break loop after finding the first statement reference
    return statement_reference

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_reference = extract_statement_references_from_text(extracted_text)
    
    if statement_reference:
        print("Extracted Statement Reference:", statement_reference)
    else:
        print("No Statement Reference found in the PDF.")
def extract_vat_numbers_from_text(extracted_text):
    vat_numbers = set()  # Using a set to store unique VAT numbers
    for text in extracted_text:
        vat_number_matches = re.findall(r'VAT\s*No\.\s*(\d+)', text)
        vat_numbers.update(vat_number_matches)
    return vat_numbers

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    vat_numbers = extract_vat_numbers_from_text(extracted_text)
    
    print("Extracted VAT Numbers:")
    for vat_number in vat_numbers:
        print(vat_number)

Extracted Statement Reference: 2425/03
Extracted VAT Numbers:
654434729

# VAT Number

In [515]:
import re
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_vat_numbers_from_text(extracted_text):
    vat_numbers = set()  # Using a set to store unique VAT numbers
    for text in extracted_text:
        vat_number_matches = re.findall(r'VAT\s*No\.\s*(\d+)', text)
        vat_numbers.update(vat_number_matches)
    return vat_numbers

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    vat_numbers = extract_vat_numbers_from_text(extracted_text)
    
    print("Extracted VAT Numbers:")
    for vat_number in vat_numbers:
        print(vat_number)

Extracted VAT Numbers:
654434729

# Contract Monthly Pay Statement

In [516]:
# code for the complete Contract Monthly Pay Statement text on this page
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
            # Check if the text "Contract Monthly Pay Statement" is in the extracted text
            if "Contract Monthly Pay Statement" in text:
                break  # Stop extracting text from further pages
    return text_per_page

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_text = False  # Flag to check if the desired text is found
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_text:
            contract_monthly_pay_statement_text += text.strip() + "\n---\n"  # Append the text to the output
        elif "Contract Monthly Pay Statement" in text:
            found_text = True  # Set the flag to True when the desired text is found
            contract_monthly_pay_statement_text += text.strip() + "\n---\n"  # Append the text to the output
    print(contract_monthly_pay_statement_text)
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract += text.strip() + "\n"
        elif "CONTRACT" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("CONTRACT") + len("CONTRACT")
            end_index = text.find("If ")
            # Append the text between these indices
            contract += text[start_index:end_index].strip() + "\n"
    print("CONTRACT: ")
    print(contract)

Contract Monthly Pay Statement
Sarfraz Ghauri
Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AACONTRACT
QRV   3954630007
SARFRAZ GHAURI
If you have any queries please call the NHS
Dental Services Helpdesk on 0300 330 1348 or
email nhsbsa.dentalservices@nhsbsa.nhs.uk
105930
1
---

CONTRACT:
QRV   3954630007
SARFRAZ GHAURI

In [517]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract += text.strip() + "\n"
        elif "CONTRACT" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("CONTRACT") + len("CONTRACT")
            end_index = text.find("If ")
            # Append the text between these indices
            contract += text[start_index:end_index].strip() + "\n"
    print("CONTRACT: ")
    print(contract)

CONTRACT:
QRV   3954630007
SARFRAZ GHAURI

In [518]:
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
            if "Contract Monthly Pay Statement" in text:
                break
    return text_per_page

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract = ""
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract += text.strip() + "\n"
        elif "CONTRACT" in text:
            found_start = True
            start_index = text.find("CONTRACT") + len("CONTRACT")
            end_index = text.find("If ")
            contract += text[start_index:end_index].strip() + "\n"
    print("CONTRACT: ")
    print(contract)

    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    print(contract_monthly_pay_statement_text)

CONTRACT:
QRV   3954630007
SARFRAZ GHAURI

Sarfraz Ghauri
Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

In [519]:


import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
            if "Contract Monthly Pay Statement" in text:
                break
    return text_per_page

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract = ""
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract += text.strip() + "\n"
        elif "CONTRACT" in text:
            found_start = True
            start_index = text.find("CONTRACT") + len("CONTRACT")
            end_index = text.find("If ")
            contract += text[start_index:end_index].strip() + "\n"
    #print("CONTRACT: ")
    print(contract)

    found_start = False
    contract_monthly_pay_statement_text = ""
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    #print(contract_monthly_pay_statement_text)

    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Splitting the text into Contract Name and Address
    parts = contract_monthly_pay_statement_text.split('\n', 1)
    Contract_Name = parts[0]
    Address = parts[1] if len(parts) > 1 else ""
 
    print("Contract Name:", Contract_Name)
    print("Address:", Address)

QRV   3954630007
SARFRAZ GHAURI

Contract Name: Sarfraz Ghauri
Address: Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

# Address

In [520]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    print(contract_monthly_pay_statement_text)

Sarfraz Ghauri
Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

In [521]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Splitting the text into Contract Name and Address
    parts = contract_monthly_pay_statement_text.split('\n', 1)
    Contract_Name = parts[0]
    Address = parts[1] if len(parts) > 1 else ""
    
    print("Contract Name:", Contract_Name)
    print("Address:", Address)

Contract Name: Sarfraz Ghauri
Address: Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

In [522]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Splitting the text into Contract Name and Address
    parts = contract_monthly_pay_statement_text.split('\n', 1)
    Contract_Name = parts[0]
    Address = parts[1] if len(parts) > 1 else ""
    
    print("Contract Name:", Contract_Name)
    print("Address:", Address)

Contract Name: Sarfraz Ghauri
Address: Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

# Contract_Name

In [523]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Extracting Contract Name
    Contract_Name = contract_monthly_pay_statement_text.split('\n', 1)[0]
    
    print("Contract Name:", Contract_Name)

Contract Name: Sarfraz Ghauri

# Address

In [524]:


if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract_monthly_pay_statement_text = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract_monthly_pay_statement_text += text.strip() + "\n"
        elif "Contract Monthly Pay Statement" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("Contract Monthly Pay Statement") + len("Contract Monthly Pay Statement")
            end_index = text.find("CONTRACT")
            # Append the text between these indices
            contract_monthly_pay_statement_text += text[start_index:end_index].strip() + "\n"
    
    # Extracting Address
    parts = contract_monthly_pay_statement_text.split('\n', 1)
    Address = parts[1] if len(parts) > 1 else ""
    
    print("Address:", Address)

Address: Ghauris Dental Practice
113 Vicarage Farm Road
HOUNSLOW
Middlesex
TW5 0AA

# Contract

In [525]:
if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)
    found_start = False
    contract = ""  # Initialize empty string to store the desired text
    for page_num, text in enumerate(extracted_text, start=1):
        if found_start:
            if "CONTRACT" in text:
                break
            contract += text.strip() + "\n"
        elif "CONTRACT" in text:
            found_start = True
            # Find the index of the start of "Contract Monthly Pay Statement" and "CONTRACT"
            start_index = text.find("CONTRACT") + len("CONTRACT")
            end_index = text.find("If ")
            # Append the text between these indices
            contract += text[start_index:end_index].strip() + "\n"
    print("CONTRACT: ")
    print(contract)

CONTRACT:
QRV   3954630007
SARFRAZ GHAURI

In [526]:

# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID and the second part is Contract_Name
Contract_ID = contract_lines[0].strip()
Contract_Name = contract_lines[1].strip()
# Printing the results
print("Contract_ID:", Contract_ID)
print("Contract_Name:", Contract_Name)

Contract_ID: QRV   3954630007
Contract_Name: SARFRAZ GHAURI

In [527]:
import pandas as pd
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID and the second part is Contract_Name
Contract_ID = contract_lines[0].strip()
Contract_Name = contract_lines[1].strip()
df = pd.DataFrame({'Contract_ID': [Contract_ID], 'Contract_Name': [Contract_Name], 'Address': [Address]})
print(df)

        Contract_ID   Contract_Name  \
0  QRV   3954630007  SARFRAZ GHAURI

                                             Address
0  Ghauris Dental Practice\n113 Vicarage Farm Roa...

In [528]:
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID
Contract_ID = contract_lines[0].strip()

# Printing the Contract_ID
print("Contract_ID:", Contract_ID)

Contract_ID: QRV   3954630007

In [529]:
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the second part is Contract_Name
Contract_Name = contract_lines[1].strip()

# Printing the Contract_Name
print("Contract_Name:", Contract_Name)

Contract_Name: SARFRAZ GHAURI

# Contract_Details

In [530]:
import pandas as pd
# Splitting the contract string into Contract_ID and Contract_Name
contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

# Assuming the first part is Contract_ID and the second part is Contract_Name
Contract_ID = contract_lines[0].strip()
Contract_Name = contract_lines[1].strip()
df1 = pd.DataFrame({'Contract_ID': [Contract_ID], 'Contract_Name': [Contract_Name], 'Address': [Address],'Vat_No':[vat_number]})
df1

,Contract_ID,Contract_Name,Address,Vat_No
0,QRV 3954630007,SARFRAZ GHAURI,Ghauris Dental Practice\n113 Vicarage Farm Roa...,654434729

In [531]:
df1['Contract_ID'] = df1['Contract_ID'].astype(str)
df1['Vat_No'] = df1['Vat_No'].astype(int)
df1['Contract_Name'] = df1['Contract_Name'].astype(str)
df1['Address'] = df1['Address'].astype(str)

In [532]:
df1.dtypes

Contract_ID      object
Contract_Name    object
Address          object
Vat_No            int32
dtype: object

In [533]:
import pandas as pd
import mysql.connector



# Create DataFrame from data
data = {'Contract_ID': [Contract_ID], 
        'Contract_Name': [Contract_Name], 
        'Address': [Address],
        'Vat_No': [vat_number]}
df1 = pd.DataFrame(data)

# Database connection parameters
host = 'localhost'
user = 'root'
password = ''
#database = 'new'

# Establish connection to MySQL database
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

try:
    # Open cursor
    cursor = conn.cursor()

    # Prepare INSERT query
    insert_query = """
        INSERT INTO dashboard_contract_details (Contract_ID, Contract_Name, Address, Vat_No)
        VALUES (%s, %s, %s, %s)
    """

    # Iterate over DataFrame rows and execute INSERT query
    for index, row in df1.iterrows():
        values = (row['Contract_ID'], row['Contract_Name'], row['Address'], row['Vat_No'])
        cursor.execute(insert_query, values)

    # Commit changes to database
    conn.commit()
    print("Data inserted successfully.")

except mysql.connector.Error as error:
    print(f"Error inserting data into MySQL table: {error}")

finally:
    # Close cursor and connection (ensure all results are consumed before closing)
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'conn' in locals() and conn.is_connected():
        conn.close()

Error inserting data into MySQL table: 1054 (42S22): Unknown column 'Contract_Name' in 'field list'

In [555]:
import mysql.connector
from mysql.connector import Error

# Database connection parameters
host = 'localhost'
user = 'root'
password = ''
database = 'new'

try:
    # Establish connection to MySQL database
    conn = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )
    
    if conn.is_connected():
        print("Connected to the database")

except Error as e:
    print(f"Error: {e}")

finally:
    if conn.is_connected():
        conn.close()
        print("Connection closed")

Connected to the database
Connection closed

# Performers' Superannuation Contribution

In [535]:
import re
import pandas as pd

def extract_performers_superannuation_table(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Performers\' Superannuation Contribution'
    end_pattern = r'Patients\' Charges'

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()].strip()
        return table_text
    else:
        return None

def format_table(table_text, contract):
    # Extracting rows using regular expression
    #rows = re.findall(r'(\d+)\s+([A-Z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)
    rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)


    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Performer_ID": row[0],
            "Name": row[1],
            "Percentage": row[2],
            "Amount (£)": row[3],
            "Contract_ID": contract  # Add Contract_ID to each row
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf' # Change this to the path of your PDF file
    #contract_file_path = 'BSA Statement 01 Highlighted.pdf'  # Path to the file containing contract information
    # Splitting the contract string into Contract_ID and Contract_Name
    contract_lines = contract.split("\n", 1)  # Splitting into two parts at the first newline

    # Assuming the first part is Contract_ID
    Contract_ID = contract_lines[0].strip()

    

    contract = Contract_ID

    extracted_text = extract_text_from_pdf(pdf_path)

    # Concatenate all the extracted text into a single string
    complete_pdf_text = "\n".join(extracted_text)

    # Extract the text of the Performers' Superannuation Contribution table
    performers_superannuation_table_text = extract_performers_superannuation_table(complete_pdf_text)

    # Print the extracted table text
    if performers_superannuation_table_text:
        print("Performers' Superannuation Contribution Table:")
        formatted_table = format_table(performers_superannuation_table_text, contract)
        # Convert the formatted table to DataFrame
        df2 = pd.DataFrame(formatted_table)
        print(df2)
    else:
        print("Performers' Superannuation Contribution Table not found in the PDF text.")

Performers' Superannuation Contribution Table not found in the PDF text.

In [536]:
import re
import pandas as pd
import PyPDF2

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_references = []
    for text in extracted_text:
        statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
        if statement_reference_match:
            statement_reference = statement_reference_match.group(1)
            statement_references.append(statement_reference)
    return statement_references

def extract_performers_superannuation_table(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Performers\' Superannuation Contribution'
    end_pattern = r'Patients\' Charges'

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()].strip()
        return table_text
    else:
        return None

def format_table(table_text, contract, statement_reference):
    # Extracting rows using regular expression
    #rows = re.findall(r'(\d+)\s+([A-Z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)
    
    rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text)
    

    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Contract_ID": contract,  # Add Contract_ID to each row
            "Statement_Reference": statement_reference,  # Add Statement_Reference to each row
            "Performer_ID": row[0],
            "Name": row[1],
            "Percentage": row[2],
            "Amount ": row[3]
            #"Contract_ID": contract,  # Add Contract_ID to each row
            #"Statement_Reference": statement_reference  # Add Statement_Reference to each row
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    #pdf_path = 'BSA Statement 01 Highlighted.pdf'
    # Extract statement references from PDF
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_references = extract_statement_references_from_text(extracted_text)
    
    # Choose one statement reference for the sake of example (you might need to adjust this based on your actual data)
    statement_reference = statement_references[0] if statement_references else None

    # Extract the table text
    extracted_text = extract_text_from_pdf(pdf_path)
    complete_pdf_text = "\n".join(extracted_text)
    performers_superannuation_table_text = extract_performers_superannuation_table(complete_pdf_text)

    # Print the extracted table text
    if performers_superannuation_table_text:
        print("Performers' Superannuation Contribution Table:")
        formatted_table = format_table(performers_superannuation_table_text,contract , statement_reference)
        # Convert the formatted table to DataFrame
        df2 = pd.DataFrame(formatted_table)
        print(df2)
    else:
        print("Performers' Superannuation Contribution Table not found in the PDF text.")

Performers' Superannuation Contribution Table:
         Contract_ID Statement_Reference Performer_ID                  Name  \
0   QRV   3954630007             2425/03       364207           AJ ABULHAB
1   QRV   3954630007             2425/03       440914          S CHANDNANI
2   QRV   3954630007             2425/03       114847             Coughlan
3   QRV   3954630007             2425/03       651133             S GHAURI
4   QRV   3954630007             2425/03       887048  I HAMDY ABD ELRAZEK
5   QRV   3954630007             2425/03       116865              HUSSAIN
6   QRV   3954630007             2425/03       786616       AK JAISINGHANI
7   QRV   3954630007             2425/03       539112             AK MAINI
8   QRV   3954630007             2425/03       453390             JS MALIK
9   QRV   3954630007             2425/03       107389             ZM MIRZA
10  QRV   3954630007             2425/03       476617            AD MISTRY
11  QRV   3954630007             2425/03       111766             Ja Malik
12  QRV   3954630007             2425/03       117068                SINGH
13  QRV   3954630007             2425/03       623504              JS UBHI
14  QRV   3954630007             2425/03       115616               NZ ZIA
15  QRV   3954630007             2425/03       786616       AK JAISINGHANI

   Percentage Amount
0       10.70    4.38
1       12.50    0.60
2        6.50    4.01
3        5.20    0.23
4        5.20    2.38
5        5.20   11.41
6        9.80    0.82
7        8.30    3.97
8        5.20    4.38
9        5.20    0.25
10       6.50    4.01
11       9.80   41.29
12       5.20    5.29
13       6.50    4.01
14       9.80   13.94
15       9.00    0.75

In [538]:
performers_superannuation_table_text

"£100.97\n364207 AJ ABULHAB @ 10.70% £4.38\n440914 S CHANDNANI @ 12.50% £0.60\n114847 Coughlan @ 6.50% £4.01\n651133 S GHAURI @ 5.20% £0.23\n887048 I HAMDY ABD ELRAZEK @ 5.20% £2.38\n116865 HUSSAIN @ 5.20% £11.41\n \nTHIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES\n2\nNATIONAL HEALTH SERVICE   \n Contract QRV   3954630007\nStatement Reference  2425/03  SARFRAZ GHAURI\n   \nDate  01/07/24 VAT No. 654434729\nPAY STATEMENT\nNon Contributory Items Payments Deductions\n786616 AK JAISINGHANI @ 9.80% £0.82\n539112 AK MAINI @ 8.30% £3.97\n453390 JS MALIK @ 5.20% £4.38\n107389 ZM MIRZA @ 5.20% £0.25\n476617 AD MISTRY @ 6.50% £4.01\n111766 Ja Malik @ 9.80% £41.29\n117068 SINGH @ 5.20% £5.29\n623504 JS UBHI @ 6.50% £4.01\n115616 NZ ZIA @ 9.80% £13.94\nPerformers' Added Benefit £0.75\n786616 AK JAISINGHANI @ 9.00% £0.75"

In [539]:

cleaned_table_text = re.sub(r'\(\d+\)', '', performers_superannuation_table_text)

In [540]:
cleaned_table_text

"£100.97\n364207 AJ ABULHAB @ 10.70% £4.38\n440914 S CHANDNANI @ 12.50% £0.60\n114847 Coughlan @ 6.50% £4.01\n651133 S GHAURI @ 5.20% £0.23\n887048 I HAMDY ABD ELRAZEK @ 5.20% £2.38\n116865 HUSSAIN @ 5.20% £11.41\n \nTHIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES\n2\nNATIONAL HEALTH SERVICE   \n Contract QRV   3954630007\nStatement Reference  2425/03  SARFRAZ GHAURI\n   \nDate  01/07/24 VAT No. 654434729\nPAY STATEMENT\nNon Contributory Items Payments Deductions\n786616 AK JAISINGHANI @ 9.80% £0.82\n539112 AK MAINI @ 8.30% £3.97\n453390 JS MALIK @ 5.20% £4.38\n107389 ZM MIRZA @ 5.20% £0.25\n476617 AD MISTRY @ 6.50% £4.01\n111766 Ja Malik @ 9.80% £41.29\n117068 SINGH @ 5.20% £5.29\n623504 JS UBHI @ 6.50% £4.01\n115616 NZ ZIA @ 9.80% £13.94\nPerformers' Added Benefit £0.75\n786616 AK JAISINGHANI @ 9.00% £0.75"

In [541]:
def clean_text(cleaned_table_text):
    # Define the pattern to identify and remove the unwanted section
    pattern = r'Performers\' Added Benefit.*$'

    # Use regex to substitute the matched pattern with an empty string
    cleaned_text = re.sub(pattern, '', cleaned_table_text, flags=re.DOTALL)
    
    return cleaned_text.strip()  # Trim any leading or trailing whitespace

cleaned_text = clean_text(cleaned_table_text)
print(cleaned_text)

£100.97
364207 AJ ABULHAB @ 10.70% £4.38
440914 S CHANDNANI @ 12.50% £0.60
114847 Coughlan @ 6.50% £4.01
651133 S GHAURI @ 5.20% £0.23
887048 I HAMDY ABD ELRAZEK @ 5.20% £2.38
116865 HUSSAIN @ 5.20% £11.41

THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES
2
NATIONAL HEALTH SERVICE
 Contract QRV   3954630007
Statement Reference  2425/03  SARFRAZ GHAURI

Date  01/07/24 VAT No. 654434729
PAY STATEMENT
Non Contributory Items Payments Deductions
786616 AK JAISINGHANI @ 9.80% £0.82
539112 AK MAINI @ 8.30% £3.97
453390 JS MALIK @ 5.20% £4.38
107389 ZM MIRZA @ 5.20% £0.25
476617 AD MISTRY @ 6.50% £4.01
111766 Ja Malik @ 9.80% £41.29
117068 SINGH @ 5.20% £5.29
623504 JS UBHI @ 6.50% £4.01
115616 NZ ZIA @ 9.80% £13.94

In [542]:
def format_table(cleaned_text, contract, statement_reference):
    # Extracting rows using regular expression
    
    rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', cleaned_text)
    

    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Contract_ID": contract,  # Add Contract_ID to each row
            "Statement_Reference": statement_reference,  # Add Statement_Reference to each row
            "Performer_ID": row[0],
            "Name": row[1],
            "Percentage": row[2],
            "Amount ": row[3]
        }
        formatted_rows.append(formatted_row)

    return formatted_rows
if __name__ == "__main__":

    # Print the extracted table text
    if performers_superannuation_table_text:
        print("Performers' Superannuation Contribution Table:")
        formatted_table = format_table(cleaned_text,contract , statement_reference)
        # Convert the formatted table to DataFrame
        df2 = pd.DataFrame(formatted_table)
        print(df2)
    else:
        print("Performers' Superannuation Contribution Table not found in the PDF text.")

Performers' Superannuation Contribution Table:
         Contract_ID Statement_Reference Performer_ID                  Name  \
0   QRV   3954630007             2425/03       364207           AJ ABULHAB
1   QRV   3954630007             2425/03       440914          S CHANDNANI
2   QRV   3954630007             2425/03       114847             Coughlan
3   QRV   3954630007             2425/03       651133             S GHAURI
4   QRV   3954630007             2425/03       887048  I HAMDY ABD ELRAZEK
5   QRV   3954630007             2425/03       116865              HUSSAIN
6   QRV   3954630007             2425/03       786616       AK JAISINGHANI
7   QRV   3954630007             2425/03       539112             AK MAINI
8   QRV   3954630007             2425/03       453390             JS MALIK
9   QRV   3954630007             2425/03       107389             ZM MIRZA
10  QRV   3954630007             2425/03       476617            AD MISTRY
11  QRV   3954630007             2425/03       111766             Ja Malik
12  QRV   3954630007             2425/03       117068                SINGH
13  QRV   3954630007             2425/03       623504              JS UBHI
14  QRV   3954630007             2425/03       115616               NZ ZIA

   Percentage Amount
0       10.70    4.38
1       12.50    0.60
2        6.50    4.01
3        5.20    0.23
4        5.20    2.38
5        5.20   11.41
6        9.80    0.82
7        8.30    3.97
8        5.20    4.38
9        5.20    0.25
10       6.50    4.01
11       9.80   41.29
12       5.20    5.29
13       6.50    4.01
14       9.80   13.94

In [543]:

# Extract the numeric part
numeric_part = ''.join(filter(str.isdigit, contract))
print("Contract_ID:", numeric_part)

Contract_ID: 3954630007

In [544]:
import re
import pandas as pd

def extract_rows_from_text(text):
    # Define a more flexible pattern to capture rows
    pattern = r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s*(-?£[\d.,]+)'
    #rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', cleaned_table_text)
    
    # Find all matches in the text
    matches = re.findall(pattern, cleaned_text)
    
    # Return a list of matched rows
    return matches

def format_table(rows, numeric_part, statement_reference):
    formatted_rows = []
    for row in rows:
               # Extract the numeric part of the amount string and convert to float
        amount_str = re.sub(r'[^.\d]', '', row[3])  # Remove all non-numeric characters except '.'
        amount = float(amount_str)  # Convert to float
        
        formatted_row = {
            "contract_id": numeric_part,
            "statement_reference": statement_reference,
            "performer_id": row[0],
            "name": row[1].strip(),
            "percentage": row[2],
            "amount": amount
        }
        formatted_rows.append(formatted_row)
    return formatted_rows

if __name__ == "__main__":
    
    # Extract rows using the updated pattern
    rows = extract_rows_from_text(cleaned_text)

    
    # Format the extracted rows into DataFrame
    formatted_table = format_table(rows, numeric_part, statement_reference)
    df2 = pd.DataFrame(formatted_table)
    
    # Display the DataFrame
    print(df2)

   contract_id statement_reference performer_id                 name  \
0   3954630007             2425/03       364207           AJ ABULHAB
1   3954630007             2425/03       440914          S CHANDNANI
2   3954630007             2425/03       114847             Coughlan
3   3954630007             2425/03       651133             S GHAURI
4   3954630007             2425/03       887048  I HAMDY ABD ELRAZEK
5   3954630007             2425/03       116865              HUSSAIN
6   3954630007             2425/03       786616       AK JAISINGHANI
7   3954630007             2425/03       539112             AK MAINI
8   3954630007             2425/03       453390             JS MALIK
9   3954630007             2425/03       107389             ZM MIRZA
10  3954630007             2425/03       476617            AD MISTRY
11  3954630007             2425/03       111766             Ja Malik
12  3954630007             2425/03       117068                SINGH
13  3954630007             2425/03       623504              JS UBHI
14  3954630007             2425/03       115616               NZ ZIA

   percentage  amount
0       10.70    4.38
1       12.50    0.60
2        6.50    4.01
3        5.20    0.23
4        5.20    2.38
5        5.20   11.41
6        9.80    0.82
7        8.30    3.97
8        5.20    4.38
9        5.20    0.25
10       6.50    4.01
11       9.80   41.29
12       5.20    5.29
13       6.50    4.01
14       9.80   13.94

In [545]:
df2['contract_id']=df2['contract_id'].astype(str)
df2['percentage']=df2['percentage'].astype(float)
df2['statement_reference']=df2['statement_reference'].astype(str)
df2['performer_id']=df2['performer_id'].astype(str)
df2['name']=df2['name'].astype(str)
df2['amount']=df2['amount'].astype(float)

In [546]:
df2.dtypes

contract_id             object
statement_reference     object
performer_id            object
name                    object
percentage             float64
amount                 float64
dtype: object

In [554]:
## Replace these values with your MySQL credentials and database information
# Database connection parameters
host = 'localhost'
user = 'root'
password = ''
database = 'new'

# Establish connection to MySQL
try:
    conn = mysql.connector.connect(
        user=username,
        password=password,
        host=host,
        database=database_name
    )
    print("Connected to MySQL database:", conn.database)
except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)

Error connecting to MySQL: 1045 (28000): Access denied for user 'imran'@'localhost' (using password: NO)

In [551]:
# Create a cursor object
cursor = conn.cursor()

# Define the table name
table_name = 'dashboard_superannuationdetails'

# Query to fetch table structure
query = f"SHOW COLUMNS FROM {table_name}"

# Execute the query
cursor.execute(query)

# Fetch all rows from the result
rows = cursor.fetchall()

# Get column names and data types
column_info = [(row[0], row[1]) for row in rows]

# Create a DataFrame for displaying table structure
df_structure = pd.DataFrame(column_info, columns=['Column', 'Data Type'])

# Display the table structure
print(f"Table Structure of '{table_name}':")
print(df_structure)

OperationalError: MySQL Connection not available.

In [553]:
import mysql.connector
import pandas as pd



# Replace these values with your MySQL credentials and database information
# Database connection parameters
host = 'localhost'
user = 'root'
password = ''
database = 'new'


# Establish connection to MySQL
try:
    conn = mysql.connector.connect(
        user=username,
        password=password,
        host=host,
        database=database_name
    )
    print("Connected to MySQL database:", conn.database)
except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)

# Prepare SQL insert statement
insert_statement = """
INSERT INTO dashboard_superannuationdetails
(contract_id, statement_reference, name, percentage, amount, performer_id)
VALUES (%s, %s, %s, %s, %s, %s)
"""

try:
    with conn.cursor() as cursor:
        # Iterate over DataFrame rows
        for index, row in df2.iterrows():
            # Extract values from DataFrame row and perform necessary conversions
            values = (
                row['contract_id'],
                row['statement_reference'],
                row['name'],
                row['percentage'],  
                row['amount'],
                row['performer_id']
            )
            
            # Execute SQL insert statement
            cursor.execute(insert_statement, values)
        
    # Commit changes to the database
    conn.commit()
    print("Data inserted successfully into MySQL table")

except Exception as e:
    print(f"Error occurred: {e}")
finally:
    # Close connection
    conn.close()

Error connecting to MySQL: 1045 (28000): Access denied for user 'imran'@'localhost' (using password: NO)
Error occurred: MySQL Connection not available.

# Non-Superannuable Deductions Statutory Levy

In [456]:
import re
import pandas as pd

def extract_performers_non_superannuable_deductions(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Non-Superannuable Deductions\s*Statutory Levy'
    end_pattern = r'(?:Performers\' Net Pensionable Earnings|$)'  # End pattern is either end of table or next section

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()]
        return table_text.strip()
    else:
        return None

def format_table(table_text):
    # Extracting rows using regular expression
    #rows = re.findall(r'(\d+)\s+([A-Z\s]+)\s+£([\d.]+)', table_text)
    
    rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)@?\s+([\d.]+)%\s+£([\d.]+)', table_text, re.IGNORECASE)

    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Performer_ID": row[0],
            "Performer_Name": row[1],
            "Amount": row[2]
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    extracted_text = extract_text_from_pdf(pdf_path)

    # Concatenate all the extracted text into a single string
    complete_pdf_text = "\n".join(extracted_text)

    # Extract the text of the Performers' Non-Superannuable Deductions Statutory Levy table
    performers_non_superannuation_table_text = extract_performers_non_superannuable_deductions(complete_pdf_text)

    # Print the extracted table text
    if performers_non_superannuation_table_text:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table:")
        print(performers_non_superannuation_table_text)

        # Format the table text
        formatted_table = format_table(performers_non_superannuation_table_text)

        # Convert the formatted table to DataFrame
        df_2 = pd.DataFrame(formatted_table)

        # Print DataFrame
        print(df_2)
    else:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.")

Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.

In [457]:
import re
import PyPDF2
import pandas as pd

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_statement_references_from_text(extracted_text):
    statement_references = []
    for text in extracted_text:
        statement_reference_match = re.search(r'Statement\s*Reference\s*([\d/]+)', text)
        if statement_reference_match:
            statement_reference = statement_reference_match.group(1)
            statement_references.append(statement_reference)
    return statement_references



def extract_performers_non_superannuable_deductions(pdf_text):
    # Define the start and end patterns for the table
    start_pattern = r'Non-Superannuable Deductions\s*Statutory Levy'
    end_pattern = r'(?:Performers\' Net Pensionable Earnings|$)'  # End pattern is either end of table or next section

    # Find the start and end positions of the table
    start_match = re.search(start_pattern, pdf_text)
    end_match = re.search(end_pattern, pdf_text)

    # If both start and end patterns are found, extract the table text
    if start_match and end_match:
        table_text = pdf_text[start_match.end():end_match.start()]
        return table_text.strip()
    else:
        return None

def format_table(table_text, numeric_part, statement_reference):
    # Extracting rows using regular expression
    rows = re.findall(r'(\d+)\s+([A-Za-z\s]+)\s+£([\d.]+)', table_text)
    

    # Formatting the rows into desired format
    formatted_rows = []
    for row in rows:
        formatted_row = {
            "Contract_ID": numeric_part,
            "Statement_Reference": statement_reference,
            "Performer_ID": row[0],
            "Performer_Name": row[1],
            "Amount": row[2]
            
            
        }
        formatted_rows.append(formatted_row)

    return formatted_rows

if __name__ == "__main__":
    # Extract statement references from PDF
    extracted_text = extract_text_from_pdf(pdf_path)
    statement_references = extract_statement_references_from_text(extracted_text)

    # Choose one statement reference for the sake of example (you might need to adjust this based on your actual data)
    statement_reference = statement_references[0] if statement_references else None

    # Extract contract ID from the PDF
    #contract_id = extract_contract_id("\n".join(extracted_text))

    # Extract the table text
    #pdf_path = 'BSA Statement 01 Highlighted.pdf'  # Change this to the path of your PDF file
    #extracted_text = extract_text_from_pdf(pdf_path)
    complete_pdf_text = "\n".join(extracted_text)
    performers_non_superannuation_table_text = extract_performers_non_superannuable_deductions(complete_pdf_text)

    # Print the extracted table text
    if performers_non_superannuation_table_text:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table:")
        print(performers_non_superannuation_table_text)

        # Format the table text
        formatted_table = format_table(performers_non_superannuation_table_text, numeric_part, statement_reference)

        # Convert the formatted table to DataFrame
        df = pd.DataFrame(formatted_table)

        # Print DataFrame
        #print(df)
        
        
# Create a boolean mask to identify rows where 'Performer_Name' is either 'Contract' or 'Superannuable'
        mask = ~df['Performer_Name'].isin(['Contract', 'Superannuable'])

# Apply the mask to filter out rows that do not match the conditions
        df3 = df[mask]

# df_filtered now contains only the rows where 'Performer_Name' is neither 'Contract' nor 'Superannuable'
        
        print(df3)
    else:
        print("Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.")

Performers' Non-Superannuable Deductions Statutory Levy Table not found in the PDF text.

In [418]:
df3

  Contract_ID Statement_Reference Performer_ID Performer_Name Amount
1  3954630008             2425/03       105483        BAGHERI   0.10
2  3954630008             2425/03       107884            HAQ   0.10
3  3954630008             2425/03       638943        A PATEL   0.55
4  3954630008             2425/03       101949          ZAMAN   0.11

In [419]:
df3.dtypes

Contract_ID            object
Statement_Reference    object
Performer_ID           object
Performer_Name         object
Amount                 object
dtype: object

In [420]:
# Replace these values with your MySQL credentials and database information
username = 'imran'
password = 'Jq93j1226Jjy'
database_name = 'compass'
host = '191.96.1.51'  # e.g., 'localhost'

# Establish connection to MySQL
try:
    conn = mysql.connector.connect(
        user=username,
        password=password,
        host=host,
        database=database_name
    )
    print("Connected to MySQL database:", conn.database)
except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)
# Create a cursor object
cursor = conn.cursor()

# Define the table name
table_name = 'dashboard_nonsuperannuable'

# Query to fetch table structure
query = f"SHOW COLUMNS FROM {table_name}"

# Execute the query
cursor.execute(query)

# Fetch all rows from the result
rows = cursor.fetchall()

# Get column names and data types
column_info = [(row[0], row[1]) for row in rows]

# Create a DataFrame for displaying table structure
df_structure = pd.DataFrame(column_info, columns=['Column', 'Data Type'])

# Display the table structure
print(f"Table Structure of '{table_name}':")
print(df_structure)

Connected to MySQL database: compass
Table Structure of 'dashboard_nonsuperannuable':
                Column      Data Type
0                   id            int
1          Contract_ID   varchar(255)
2  Statement_Reference   varchar(255)
3         Performer_ID   varchar(255)
4       Performer_Name   varchar(255)
5               Amount  decimal(10,2)

In [421]:
df3['Amount'] = df3['Amount'].astype(float)

C:\Users\Awan\AppData\Local\Temp/ipykernel_6908/2865114571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Amount'] = df3['Amount'].astype(float)

In [422]:

# Replace these values with your MySQL credentials and database information
username = 'imran'
password = 'Jq93j1226Jjy'
database_name = 'compass'
host = '191.96.1.51'  # e.g., 'localhost'

# Establish connection to MySQL
try:
    conn = mysql.connector.connect(
        user=username,
        password=password,
        host=host,
        database=database_name
    )
    print("Connected to MySQL database:", conn.database)
except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)

# Prepare SQL insert statement
insert_statement = """
INSERT INTO dashboard_nonsuperannuable
(Contract_ID, Statement_Reference, Performer_ID, Performer_Name, Amount)
VALUES (%s, %s, %s, %s, %s)
"""

try:
    with conn.cursor() as cursor:
        # Iterate over DataFrame rows
        for index, row in df3.iterrows():
            # Extract values from DataFrame row and perform necessary conversions
            values = (
                row['Contract_ID'],
                row['Statement_Reference'],
                row['Performer_ID'],
                row['Performer_Name'],
                float(row['Amount']) if pd.notnull(row['Amount']) else None  # Convert to float (handle NaN)
            )
            
            # Execute SQL insert statement
            cursor.execute(insert_statement, values)
        
    # Commit changes to the database
    conn.commit()
    print("Data inserted successfully into MySQL table")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close connection
    conn.close()

Connected to MySQL database: compass
Data inserted successfully into MySQL table

# Units of Dental Activity per Performer

In [494]:
# Extract the numeric part
numeric_part = ''.join(filter(str.isdigit, contract))
print("Contract_ID:", numeric_part)

Contract_ID: 3954630007

In [509]:


# Remove the leading 62
cleaned_contract_id = numeric_part[2:]

print("Contract_ID:", cleaned_contract_id)

Contract_ID: 54630007

In [496]:
import PyPDF2
import re

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_units_of_dental_activity(text_per_page):
    
    #start_pattern = "Units of Dental Activity per Performer"
    start_pattern = "Units of Dental Activity per Clinician"
    
    end_pattern = "THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES"

    relevant_text = ""
    for page_text in text_per_page:
        start_index = page_text.find(start_pattern)
        if start_index != -1:
            end_index = page_text.find(end_pattern, start_index)
            if end_index != -1:
                relevant_text += page_text[start_index:end_index]
            else:
                relevant_text += page_text[start_index:]
    return relevant_text

if __name__ == "__main__":
    
    extracted_text = extract_text_from_pdf(pdf_path)
    relevant_text = extract_units_of_dental_activity(extracted_text)
    print(relevant_text.strip())

Units of Dental Activity per Clinician
440914 S CHANDNANI
Current Financial Year 2024/25 8.20
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
111766 Ja Malik
Current Financial Year 2024/25 23.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
943436 L NAJJAR
Current Financial Year 2024/25 4.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
604143 MT PAREKH
Current Financial Year 2024/25 18.00
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
114436 SAFI
Current Financial Year 2024/25 16.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00
117068 SINGH
Current Financial Year 2024/25 11.80
Last Financial Year 2023/24 0.00
Other Financial Years 0.00

In [498]:
import pandas as pd
import PyPDF2
import re

def extract_text_from_pdf(pdf_path):
    text_per_page = []
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            text = page.extract_text()
            text_per_page.append(text)
    return text_per_page

def extract_units_of_dental_activity(text_per_page):
    #start_pattern = "Units of Dental Activity per Performer"
    start_pattern = "Units of Dental Activity per Clinician"
    end_pattern = "THIS STATEMENT SHOULD BE RETAINED FOR TAX PURPOSES"

    relevant_text = ""
    for page_text in text_per_page:
        start_index = page_text.find(start_pattern)
        if start_index != -1:
            end_index = page_text.find(end_pattern, start_index)
            if end_index != -1:
                relevant_text += page_text[start_index:end_index]
            else:
                relevant_text += page_text[start_index:]
    return relevant_text

def parse_performers(text):
    performer_data = re.findall(r'\b(\d+)\s+([A-Za-z\s]+)\s+Current', text)
    performer_ids, performer_names = zip(*performer_data)
    return performer_ids, performer_names

def extract_current_financial_year_rows(text, pattern, year_col_name, amount_col_name):
    current_year_rows = []
    lines = text.strip().split('\n')
    for line in lines:
        match = re.search(pattern, line)
        if match:
            year = match.group(1) if match.group(1) else '0'  # If year is missing, consider it as '0'
            current_year_rows.append({year_col_name: year, amount_col_name: match.group(2)})
    return current_year_rows

if __name__ == "__main__":
   
    
    # Extract text from PDF
    extracted_text = extract_text_from_pdf(pdf_path)
    
    # Extract relevant dental activity units
    relevant_text = extract_units_of_dental_activity(extracted_text)
    
    # Parse performer data
    performer_ids, performer_names = parse_performers(relevant_text)
    
    # Create performer DataFrame
    df_performers = pd.DataFrame({'Contract_ID': numeric_part,'Statement_Reference':statement_reference,'Performer_ID': performer_ids, 'Name': performer_names})
    
    # Extract financial year rows
    current_year_rows = extract_current_financial_year_rows(relevant_text, 
                                                            r'Current Financial Year (\d{4}/\d{2})\s+([\d.]+)',
                                                            'Current_Financial_Year', 
                                                            'Current_Financial_Year_Amount')
    
    last_year_rows = extract_current_financial_year_rows(relevant_text, 
                                                            r'Last Financial Year (\d{4}/\d{2})\s+([\d.]+)',
                                                            'Last_Financial_Year', 
                                                            'Last_Financial_Year_Amount')

    other_year_rows = extract_current_financial_year_rows(relevant_text, 
                                                            r'Other Financial Years(?: (\d{4}/\d{2}))?\s+([\d.]+)',
                                                            'Other_Financial_Years', 
                                                            'Other_Financial_Year_Amount')

    # Create financial year DataFrames
    df_current = pd.DataFrame(current_year_rows)
    df_last = pd.DataFrame(last_year_rows)
    df_other = pd.DataFrame(other_year_rows)
    
    # Concatenate financial year DataFrames
    df_financial_years = pd.concat([df_current, df_last, df_other], axis=1)
    
    # Print combined DataFrame
    combined_df = pd.concat([df_performers, df_financial_years], axis=1)
    df4 =combined_df 
    print(df4)

  Contract_ID Statement_Reference Performer_ID         Name  \
0  3954630007             2425/03       440914  S CHANDNANI
1  3954630007             2425/03       111766     Ja Malik
2  3954630007             2425/03       943436     L NAJJAR
3  3954630007             2425/03       604143    MT PAREKH
4  3954630007             2425/03       114436         SAFI
5  3954630007             2425/03       117068        SINGH

  Current_Financial_Year Current_Financial_Year_Amount Last_Financial_Year  \
0                2024/25                          8.20             2023/24
1                2024/25                         23.80             2023/24
2                2024/25                          4.80             2023/24
3                2024/25                         18.00             2023/24
4                2024/25                         16.80             2023/24
5                2024/25                         11.80             2023/24

  Last_Financial_Year_Amount Other_Financial_Years Other_Financial_Year_Amount
0                       0.00                     0                        0.00
1                       0.00                     0                        0.00
2                       0.00                     0                        0.00
3                       0.00                     0                        0.00
4                       0.00                     0                        0.00
5                       0.00                     0                        0.00

In [499]:
# Replace these values with your MySQL credentials and database information
username = 'imran'
password = 'Jq93j1226Jjy'
database_name = 'compass'
host = '191.96.1.51'  # e.g., 'localhost'

# Establish connection to MySQL
try:
    conn = mysql.connector.connect(
        user=username,
        password=password,
        host=host,
        database=database_name
    )
    print("Connected to MySQL database:", conn.database)
except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)
# Create a cursor object
cursor = conn.cursor()

# Define the table name
table_name = 'dashboard_units_details'

# Query to fetch table structure
query = f"SHOW COLUMNS FROM {table_name}"

# Execute the query
cursor.execute(query)

# Fetch all rows from the result
rows = cursor.fetchall()

# Get column names and data types
column_info = [(row[0], row[1]) for row in rows]

# Create a DataFrame for displaying table structure
df_structure = pd.DataFrame(column_info, columns=['Column', 'Data Type'])

# Display the table structure
print(f"Table Structure of '{table_name}':")
print(df_structure)

Connected to MySQL database: compass
Table Structure of 'dashboard_units_details':
                           Column      Data Type
0                              id            int
1                     Contract_ID   varchar(255)
2             Statement_Reference   varchar(255)
3                    Performer_ID   varchar(255)
4                            Name   varchar(255)
5          Current_Financial_Year    varchar(50)
6   Current_Financial_Year_Amount  decimal(10,2)
7             Last_Financial_Year    varchar(50)
8      Last_Financial_Year_Amount  decimal(10,2)
9            Other_Finacial_Years   varchar(255)
10     Other_Finacial_Year_Amount  decimal(10,2)

In [500]:
df4['Current_Financial_Year_Amount'] = df4['Current_Financial_Year_Amount'].astype(float)
df4['Last_Financial_Year_Amount'] = df4['Last_Financial_Year_Amount'].astype(float)
df4['Other_Financial_Year_Amount'] = df4['Other_Financial_Year_Amount'].astype(float)
df4.rename(columns={'Other_Financial_Year_Amount': 'Other_Finacial_Year_Amount'}, inplace=True)

In [501]:
import mysql.connector
import pandas as pd

username = 'imran'
password = 'Jq93j1226Jjy'
database_name = 'compass'
host = '191.96.1.51'  # e.g., 'localhost'

# Establish connection to MySQL
try:
    conn = mysql.connector.connect(
        user=username,
        
        password=password,
        host=host,
        database=database_name
    )
    print("Connected to MySQL database:", conn.database)
except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)

# Prepare SQL insert statement
insert_statement = """
INSERT INTO dashboard_units_details
(Contract_ID, Statement_Reference, Performer_ID, Name, Current_Financial_Year, 
 Current_Financial_Year_Amount, Last_Financial_Year, Last_Financial_Year_Amount, 
 Other_Finacial_Years, Other_Finacial_Year_Amount)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

try:
    with conn.cursor() as cursor:
        # Iterate over DataFrame rows
        for index, row in df4.iterrows():
            # Extract values from DataFrame row and perform necessary conversions
            values = (
                row['Contract_ID'],
                row['Statement_Reference'],
                row['Performer_ID'],
                row['Name'],
                row['Current_Financial_Year'],
                float(row['Current_Financial_Year_Amount']),  # Convert to float
                row['Last_Financial_Year'],
                float(row['Last_Financial_Year_Amount']),  # Convert to float
                row['Other_Financial_Years'],
                float(row['Other_Finacial_Year_Amount'])  # Convert to float
            )
            
            # Execute SQL insert statement
            cursor.execute(insert_statement, values)
        
    # Commit changes to the database
    conn.commit()
    print("Data inserted successfully into MySQL table")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close connection
    conn.close()

Connected to MySQL database: compass
Data inserted successfully into MySQL table

In [467]:
df4

,Contract_ID,Statement_Reference,Performer_ID,Name,Current_Financial_Year,Current_Financial_Year_Amount,Last_Financial_Year,Last_Financial_Year_Amount,Other_Financial_Years,Other_Finacial_Year_Amount
0,3954630009,1920/02,782181,G MANAN,2019/20,0.0,2018/19,3.0,0,0.0

In [504]:
# Replace these values with your MySQL credentials and database information
username = 'imran'
password = 'Jq93j1226Jjy'
database_name = 'compass'
host = '191.96.1.51'  # e.g., 'localhost'